*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --bg-color: #ebebeb;
    --second-bg-color: #DDD7D7;
    --main-color: #194770;
    --text-color: #000;
    --tag-color: #A90147;

    --font-montserrat: "Montserrat", sans-serif;
    --font-signika: "Signika", sans-serif;
}

html{
    font-size: 62.5%; /* 1REM = 10px */
}

body{
    background-color: var(--bg-color);
    font-size: 1.6rem;
    color: var(--text-color);
    font-family: var(--font-montserrat)
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

a{
    color: var(--text-color)
}

/* Encabezado */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    width: 100%;
    height: 7rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

.logo img{
    width: 5rem;
}

.logo{
    margin-left: 5rem;
    transition: .3s ease;
}

.logo:hover{
    transform: scale(1.1);
}

.navbar{
    display: flex;
    gap: 1rem;
    margin-right: 5rem;
}

.navbar a{
    color: var(--bg-color);
    font-weight: 600;
    font-size: 1.9rem;
    border-bottom: .2rem solid transparent;
    padding-bottom: .3rem;
}

.navbar a:hover{
    color: var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
}

/* Estilos de de Home */
.home {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
    justify-content: center;
    align-items: center;
    align-content: center;
    background: var(--second-bg-color);
}

.home-img img{
    width: 100%;
}

.home-content h1{
    font-size: 6rem;
}

span {
    color: var(--main-color);
}

.home-content p{
    margin-bottom: 1rem;
    font-size: 2rem;
}
.social-media{
    padding: 1rem 0;
}

.social-media a{
    display: inline-flex;
    color: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    padding: 1rem;
    margin: 0 .5rem;
    transition: .3s ease;
    font-size: 2.5rem;
}

.social-media a:hover{
    transform: scale(1.2);
    box-shadow: 0 0 .45rem var(--main-color);
    background: var(--main-color);
    color: var(--bg-color);
}

/* Estilos de sección de Cursos */

.courses{
    background-color: var(--bg-color);
    text-align: center;
}

.courses h2{
    margin-bottom: 2rem;
    font-size: 4rem;
}

.courses .course-desc{
    margin-bottom: 3rem;
    font-size: 1.8rem;
    font-weight: 500;
}

.courses-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
}

.course-item img{
    width: 100%;
    border-radius: .8rem .8rem 0 0;
}

.course-item{
    position: relative;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course-item img:hover{
    opacity: 0.9;
}

.course-item .tag{
    display: inline-block;
    position: absolute;
    top: 2rem;
    background-color: var(--tag-color);
    color: var(--bg-color);
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 0 .5rem .5rem 0;
    font-family: var(--font-signika);
    font-weight: 600;
    z-index: 10;
}

.course-item .title, .course-item .description{
    text-align: start;
    margin: 1rem 0 0 0.5rem;
}

.course-item .title{
    height: 5rem;
    font-size: 2rem;
    font-family: var(--font-signika);
    font-weight: 800;
}

.course-item .description{
    font-size: 1.4rem;
}

.calification{
    text-align: start;
    margin: 1rem 0 0 0.5rem;
}

.rating-value, .stars{
    font-size: 2rem;
    font-family: var(--font-signika);
    font-weight: 800;
}

.rating-value{
    color: var(--text-color);
    font-family: var(--font-signika);
    font-weight: 600;
}

.stars{
    color: #ffa500;
}

.offer-text .price, .offer-text .discount{
    font-size: 2rem;
    font-weight: 700;
}

.offer-text{
    background: #eceb98;
    padding: .5rem 0;
}


/* =======================================================
        Estilos para pa página de blogs
==========================================================*/
.container{
    display: flex;
    justify-content: space-between;
    padding: 7rem 1rem;
    max-width: 150rem;
    margin: 0 auto;
}

.main-blog{
    max-width: 100rem;
}


.new-blog .new-blog-img img{
    width: 100%;
}

.new-blog{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    gap: 4rem;
    margin-bottom: 4rem;
}

.new-blog h2{
    display: inline-block;
    grid-column: 1 / -1;
    margin: 2rem 0;
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 1rem;
}

.time{
    display: block;
    margin: 1rem 0;
    color: var(--main-color);
    font-style: italic;
    font-size: 1.3rem;
    text-align: end;
}

.blog-btn{
    display: inline-block;
    margin: 2rem 0;
    padding: 1rem;
    border: .2rem solid var(--main-color);
    font-family: var(--font-signika);
    font-weight: 600;
    font-size: 2rem;
    color: var(--main-color);
}

.blogs h2{
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 1rem;
    margin: 2rem 0;
}

.blogs-content .blog-item img{
    width: 100%;
}

.blogs-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    justify-content: center;
    gap: 2rem;
}

.blog-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-item h3, .blog-item p{
    margin: 1rem 0;
}

.aside{
    margin-top: 5rem;
}

.aside h3{
    font-size: 2.5rem;
    margin: 1rem 0;
    padding: 1rem 0;
}

.aside ul{
    margin-left: 4rem;
}

.aside ul li{
    margin: 1rem 0;
}

.aside a{
    color: var(--main-color);
    font-weight: 500;
    font-size: 1.8rem;
}

.aside a:hover{
    color: var(--text-color);
}


/* Footer */

.footer{
    background-color: var(--main-color);
    padding-bottom:1rem;
    max-width: 100%;
}
.footer-content{
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    */
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1rem;
    align-items: center;
    justify-items: center;
    
}

.logo{
    display: inline-block;
    margin: 2rem 0;
    color: var(--bg-color);
    font-size: 4rem;
    font-family: var(--font-signika);
    font-weight: 800;
    font-style: italic;
}

.info-page p{
    color: var(--second-bg-color);
    margin-bottom: 1rem;
}

.footer .social-media a{
    color: var(--bg-color);
    border: .2rem solid var(--bg-color);
    font-size: 1.6rem;
    padding: .8rem;
}

.footer .social-media a:hover{
    background-color: var(--bg-color);
    color: var(--main-color);
}

.menu-content h3{
    color: var(--bg-color);
    margin: 2rem 0;
}

.menu-content ul{
    margin-left: 2rem;
    color: var(--second-bg-color);
    list-style: square;
}

.menu-content ul a{
    color: var(--second-bg-color);
    display: block;
    margin: .7rem 0;
}

.menu-content ul a:hover{
    color: var(--bg-color);
}

.author{
    color: var(--bg-color);
    text-align: center;
    margin: 2rem 0;
}

/* ================================
        Estilos de about 
==================================== */
.main-about{
    background-color: var(--second-bg-color);
}

.main-about .logo{
    color: var(--main-color);
}

.about-start{
    max-width: 150rem;
    margin: 0 auto;
    text-align: center;
}

.about-start .logo{
    font-size: 9rem;
}

.about-start h2, .about-start p{
    margin-bottom: 1rem;
}

.about-btn .btn{
    display: inline-block;
    font-family: var(--font-signika);
    background-color: var(--main-color);
    color: var(--bg-color);
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: .2rem solid var(--main-color);
    font-size: 2rem;
    margin: 1rem;
    transition: .3s ease;
}

.about-btn .btn:hover{
    background-color: var(--bg-color);
    color: var(--main-color);
}

.about-btn :last-child{
    background-color: var(--second-bg-color);
    border: .2rem solid var(--main-color);
    color: var(--main-color);
}

.about-btn :last-child:hover{
    background-color: var(--bg-color);
}



.about-start ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    gap: 3rem;
}

.about-start ul li{
    font-size: 2.5rem;
    font-family: var(--font-signika);
    color: var(--main-color);
}

.about-start ul li i{
    font-weight: 800;
}

.img-about img{
    width: 90%;
    border-radius: 1rem;
    margin: 2rem auto;
}

.about-contenr{
    display: flex;
    flex-direction: column;
    max-width: 150rem;
    margin: 0 auto;
}

.about-contenr h2{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    border-bottom: .2rem solid var(--main-color);
}

.about-item{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.about-item ul{
    list-style: none;
}

.about-item ul li{
    margin: 4rem;
    position: relative;
}

.about-item ul li:before{
    color: var(--main-color);
    content: "\2022";
    font-size: 6rem;
    font-weight: 700;
    position: absolute;
    top: 18px;
    left: 10px;
}

.about-item ul p{
    font-size: 2rem;
    margin: .5rem;
}

.about-item ul p:first-child{
    font-size: 3rem;
    font-family: var(--font-signika);
    font-weight: 700;
}



